@import 'common';

/* Buttons section Start */

div.landing-page-buttons {
    margin-top: 100px;
}

button.ui.button.mygrant-button {
    background-color: $dark-green;
    color: white;

    &:hover {
        background-color: $green;
    }
}

.fa-circle {
    color: $green;
    margin-right: 20px;

    &:first-child {
        margin-left: 20px;
    }
}

/* Buttons section End */

/* Intro section Start */
div.app-intro.container {
    margin: 100px 20px auto;
}
/* Intro section End */


