@import 'common';

/* Buttons section Start */

div.landing-page-buttons {
    margin-top: 100px;
    margin-bottom: 100px;
}

button.ui.button.mygrant-button {
    background-color: $dark-green;
    color: white;

    &:hover {
        background-color: $green;
    }
}

.fa-circle {
    color: $green;
    margin-right: 20px;

    &:first-child {
        margin-left: 20px;
    }
}

/* Buttons section End */

/* Segment section Start */
div.oneliner-container.container {
    .oneliner-segment.segment {
        h2 {
            color: white;
        }
        background-color: $purple;
        color: white;
        padding: 30px 0 30px;
        width: 90%;
        margin-right: 0;
        border-top-left-radius: 500em;
        border-bottom-left-radius: 500em;
    }
}
/* Segment section End */

/* Intro section Start */
div.app-intro.container {
    margin: 100px 20px auto;
}
/* Intro section End */


