@import 'common';

button.ui.button.mygrant-button {
    background-color: $dark-green;
    color: white;

    &:hover {
        background-color: $green;
    }
}

.fa-circle {
    color: $green;
    margin-right: 20px;

    &:first-child {
        margin-left: 20px;
    }
}

