@import 'common';

@media(min-width: 768px) {
    div.main-container.blog {
        width: 50%;

        div.blog-header {
            margin-top: -50px;
            font-family: Helvetica, sans-serif !important;
        }
    }

} 

div.blog-header {
    img {
        position: relative;
        top: 50px;
        z-index: 5;
        padding: 12px;
        background: white;
        border: 1px solid $light-grey;
    }

    .ui.segment {
        padding-top: 50px;
    }
}
