/* Color settings */
$green: #8EE8BC;
$dark-green: #2EC88F;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: Helvetica, sans-serif !important;
}

#root {
    min-height: 100%;
    position: relative;
}

/* Header Start */
div.site-header {
    border-bottom: 5px solid $green !important;
}
/* Header End */

/* Footer Start */
.container.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Footer End */

/* Main Container Start */
.main-container {
    padding-top: 75px;
    padding-bottom: 75px;
}
/* Main Container End */

button.ui.button.mygrant-button {
    background-color: $dark-green;
    color: white;

    &:hover {
        background-color: $green;
    }
}

