@import 'common';

#crowdfunding_mission{
  margin-top: 20px;
  margin-bottom: 36px;
}

#crowdfunding_dot_divider{
  font-size: 30pt;
}


.crowdfunding_grid{
  .left_col{

    img {
      height: 250px;
      width: 100%;
      margin: 0 auto;
    }

    #crowdfunding_progress{
      margin-top: 100px;
      margin-bottom: 0px;
    }
    p{
      padding:0;
      margin:0;
    }
    #crowdfunding_target{
      float:right
    }

  }

  .right_col{
    #description{
      height: 200px;
    }
    #rating{
    }

    #crowdfunding_donate{
      margin:0;
      padding:0;
      margin-top:60px;
    }
  }
}

#services_donators {
  margin-top: 20px;
  margin-bottom: 50px;
}

#crowdfunding_comments{
  margin-bottom:36px;
}
/* Divider Overload */
div.mygrant-divider {

  .first-divider.divider {
    margin-bottom: 36px;
    margin-top: 36px;
    width: 90%;
  }

  .second-divider.divider {
    margin-top: 5px;
    margin-bottom: 36px;
    width: 90%;
  }
}


