@import 'common';

#crowdfunding_mission{
  margin-top: 20px;
  margin-bottom: 36px;
}

#crowdfunding_dot_divider{

}


.crowdfunding_grid{
  .left_col{

    img {
      height: 250px;
      width: 100%;
      margin: 0 auto;
    }

    #crowdfunding_progress{
      margin-top: 100px;
      margin-bottom: 0px;
    }
    p{
      padding:0;
      margin:0;
    }
    #crowdfunding_target{
      float:right
    }

  }

  .right_col{
    #description{
      height: 200px;
    }
    #rating{
    }

    #crowdfunding_donate{
      margin:0;
      padding:0;
      margin-top:60px;
    }

    .ui.button{
      background: $purple;
      color: white;
    }
  }
}

#services_donators {
  margin-top: 20px;
  margin-bottom: 50px;
}

#crowdfunding_comments{
  margin-bottom:36px;
}

#crowdfunding_base_container { /* Divider Overload */
  div.mygrant-divider {

    .first-divider.divider {
      margin-bottom: 36px;
      margin-top: 36px;
      width: 90%;
    }

    .second-divider.divider {
      margin-top: 5px;
      margin-bottom: 36px;
      width: 90%;
    }
  }
}

/*Progress Bar*/
.ui.green.progress .bar{
  background-color: $green;
}

.ui.progress .bar{
  background: $grey;
}

.ui.primary.button{
  background-color: $green;

}


