@import './common';

@media (min-width: 768px) {

    .ui.container.main-container.signup {
        width: 35%;
    }

    form.ui.form {
        margin-top: 100px;
        button.mygrant-button {
            margin: 100px 0 25px;
        }
    }
}

@media (max-width: 768px) {
    .ui.container.signup-title-container {
        .header { 
            width: 70%;
            color: $green;
            font-size: 3em;
            padding-left: 20px;
            margin-top: 50px;
        }
    }

    form.ui.form {
        padding-left: 30px;
        padding-right: 30px;
        input {
            height:2em;
        }
        margin-top: -30px;
        button.mygrant-button {
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}

.ui.container.signup {
    form.ui.form {
        font-family: Helvetica, sans-serif !important;

        div.field {
            div.input.error {
                input {
                    color: #9f3a38;
                    background-color: #ffffff;
                }
            }
            label {
                padding-left: 10px;
                color: $grey;
                font-weight: lighter;
            }
            input, input:focus {
                color: $text-green;
                font-size: 1.2em;
                font-weight: normal;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid $light-grey;
            }
        }
    }
}
