@import './common';

@media (min-width: 768px) {

    .ui.container.main-container.signupinfo {
        width: 35%;
    }

    form.ui.form {
        margin-top: 100px;
        button.mygrant-button {
            margin: 100px 0 25px;
        }
    }
}

@media (max-width: 768px) {
    .ui.container.signupinfo-title-container {
        .header { 
            width: 100%;
            color: $green;
            font-size: 3em;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
        }
    } 
    form.ui.form {
        padding-left: 30px;
        padding-right: 30px;
        input {
            height:2em;
        }
        margin-top: -30px;
        button.mygrant-button {
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}

form.ui.form {
    font-family: Helvetica, sans-serif !important;

    div.field {
        label {
            padding-left: 10px;
            color: $grey;
            font-weight: lighter;
        }
        div.ui.selection, div.ui.selection:focus {
            color: $text-green;
            font-size: 1.2em;
            font-weight: normal;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $light-grey;
        }

        input.search {
            font-size: 1em;
            line-height: 1.2em;
        }
    }

}
